@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


.label-para-1{
    font-family: 'Raleway', sans-serif;
    margin-left: 27px;
    font-size: 17px;
    font-weight: bold;
}

.upload-btn-container-p{
  /* border: 2px solid red; */
  /* height: 5pc; */
}
.upload-btn{
    margin-left: 28px;
    margin-top: 10px;
    padding: 9px 27px;
    font-size: 19px;
    border: none;
    border-bottom: 2px solid orangered;
    box-shadow: 2px 3px 6px rgb(255, 68, 0);
    border-radius: 5px 5px 0px 0px;
}

.upload-btn:hover{
    background-color: #db4d4d;
    color: white;
    cursor: pointer;
    box-shadow: 2px 3px 6px rgb(255, 131, 86);
    background-color: rgb(255, 154, 117);
}

.line-1{
  margin-top: 13px;
}

.upload-btn-choose{
  margin-left: 28px;
    padding: 9px 27px;
    font-size: 19px;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid orangered;
    box-shadow: 2px 3px 6px rgb(255, 68, 0);
    border-radius: 5px 5px 0px 0px;
}

.upload-btn-choose:hover{
  background-color: #db4d4d;
    color: white;
    cursor: pointer;
    box-shadow: 2px 3px 6px rgb(255, 131, 86);
    background-color: rgb(255, 154, 117);
}

.line-2{
  margin-top: 13px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 15px 38px;
    margin-top: 60px;
    outline: none;
    margin-left: 0%;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    cursor: pointer;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

.upload-input-btn:hover{
    background-color: rgb(255, 77, 32);
}

.upload-input-btn{
    padding: 9px 27px;
    font-size: 17px;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid rgb(1, 255, 170);
}

.upload-input-btn:hover{
    cursor: pointer;
    background-color: rgb(205, 255, 159);
    color: rgb(78, 78, 78);
    box-shadow: 2px 1px 6px black;
}

@media only screen and (max-width: 500px){
  .upload-btn{
    padding: 8px 14px;
    font-size: 14px;
  }
  .upload-btn-choose{
    margin-left: 25px;
    padding: 7px 25px;
    font-size: 13px;
  }
  .upload-input-btn{
    font-size: 16px;
    padding: 8px 14px;
  }
}

@media only screen and (max-width: 440px){
  .upload-btn{
    margin-left: 22px;
    padding: 7px 10px;
    font-size: 12px;
  }
  .upload-btn-choose{
    margin-left: 22px;
    padding: 7px 21px;
    font-size: 12px;
  }
  .upload-input-btn{
    font-size: 15px;
  }
}

@media only screen and (max-width: 360px){
  .upload-btn{
    margin-left: 13px;
    padding: 7px 8px;
    font-size: 11px;
  }
  .upload-btn-choose{
    margin-left: 13px;
    padding: 7px 17px;
    font-size: 11px;
  }
  .upload-input-btn{
    font-size: 15px;
  }
}



