.admin-login-body{
    width: 100%;
    height: 86vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.login-input-container{
    border: 2px solid rgb(0, 0, 0);
    width: 35%;
    height: 20pc;
    box-shadow: 3px 1px 5px black;
    border-radius: 5px;
   
}

.login-form{
    /* border: 2px solid rgb(0, 250, 12); */
    display: grid;
    justify-content: center;
    align-items: center;
    height: 14pc;margin-top: 9%;
    outline: none;
    
    /* width: 141%; */
}

.input-login{
    padding: 4px 6px;
    font-size: 18px;
    height: 2pc;
    width: 141%;
    margin-left: -16%;
    background: none;
    outline: none;
    border: 1px solid grey;
    border-radius: 4px;
    
}

.input-login:hover{
    box-shadow: 0px 0px 5px grey;
}

.input-btn{
    border: none;
    outline: none;
    background-color: rgb(64, 99, 255);
    height: 40px;
}

.input-btn:hover{
    color: white;
    background: rgb(37, 59, 255);
    cursor: pointer;
}


.VI-user-login-image{
    position: absolute;
    width: 46%;
    z-index: -1;
    margin-left: 53%;
    margin-top: 4%;
    animation: my-user-login-image 7s;
}

@keyframes my-user-login-image{
    0%{
        margin-left: 43%;
        width: 2%;
        /* margin-top: 8%; */
    }
    100%{
        margin-left:53%;
        /* margin-top: 4%; */
        width: 46%;
    }
}



@media only screen and (max-width: 500px){
    .login-input-container{
        border: 2px solid rgb(0, 0, 0);
        width: 80%;
        height: 17pc;
    }
    .input-login{
        padding: 0px 4px;
        font-size: 18px;
        height: 2pc;
        width: 110%;
        margin-left: -12px;
        
    }

    .VI-user-login-image{
        /* display: none; */
    }
}

@media only screen and (max-width: 400px){
    .login-input-container{
        width: 80%;
        height: 17pc;
    }
    .input-login{
        padding: 0px 4px;
        font-size: 16px;
        width: 110%;
        margin-left: -12px;
        
    }
}

