@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.footer-container{
    border: 2px solid black;
    background-color: black;
    box-shadow: 0px -3px 6px rgb(109, 109, 109);
    z-index: 1;
    bottom: 12px;
}

.foot-para{
    color: white;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

@media only screen and (max-width: 700px){
    .footer-container{
    position: absolute;
    width: 95%;
    height: 3pc;
    top: 179%;
    }
}

@media only screen and (max-width: 440px){
    .footer-container{
    top: 169%;
    }
    .foot-para{
        font-size: 14px;
    }
}

@media only screen and (max-width: 380px){
    .footer-container{
    top: 166%;
    }
    .foot-para{
        font-size: 12px;
    }
}

@media only screen and (max-width: 341px){
    .footer-container{
    top: 159%;
    }
}

