@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');



.views{
    position: absolute;
    left: 91%;
}

.viewIcon{
    position: absolute;
    left: 88%;
    top: 90px;
}

.notice-home-section{
    border: 2px solid black;
    width: 30%;
    height: 25pc;
    margin-left: 3%;
    margin-top: 40px;
    z-index: 1;
    overflow: auto;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    box-shadow: 2px 3px 6px rgb(0, 0, 0);
}

.notice-home-head{
    /* border: 2px solid black; */
    display: flex;
    position: sticky;
    top: 0%;
    height: 60px;
    background-color: rgb(255, 191, 107);
    margin-top: 0px;
    color: rgb(59, 59, 59);
    z-index: 1;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 6px black;
    font-family: 'Raleway', sans-serif;
}

.notice-home-main-para{
    padding: 18px 18px;
    font-size: 17px;
    margin-top: 0%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 218, 218);
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    /* animation: myymove 7s infinite; */
}

@keyframes myymove {
    0%{
        top: 0px;
    }
    30%{
        top: 35px;
    }
    40%{
        top: 45px;
    }
    50%{
        top: -130px;
    }
    60%{
        top: -160px;
    }
    70%{
        top: -190px;
    }
    
    75%{
        top: -290px;
    }
    85%{
        top: -200px;
    }
    90%{
        top: -130px;
    }
    100%{
        top: 0px;
    }
}




.vector-home-image{
    /* border: 2px solid black; */
    width: 35%;
    margin-left: 48%;
    margin-top: -1%;
    z-index: -99999;
    /* position: absolute; */
    transition: all 1s;
    animation: myhome_image 3s;
    
}

@keyframes myhome_image{
    0%{
        /* margin-left: -100%; */
        width: 9%;
        margin-left: 106%;
    }
    100%{
        margin-left: 48%;
        width: 35%;
    }
}



.gif-home-image{
    position: absolute;
    margin-top: -13%;
    z-index: 1;
    margin-left: 3%;
    width: 4%;
    transition: all 1s;
    
}

.gif-home-image:hover{
    width: 6%;
    transition: all 1s;
    cursor: pointer;
}

.gif-home-image-1{
    position: absolute;
    margin-top: -14%;
    z-index: 1;
    margin-left: -30%;
    width: 20%;
    
}

.footer-Home-container{
    border: 2px solid black;
    background-color: black;
    position:fixed;
   bottom:0;
   width:100%;
    box-shadow: 2px -3px 6px black;
}


@media only screen and (max-width: 700px){

    .viewIcon{
        left: 85%;
    }
}

@media only screen and (max-width: 500px){

    .views{
       font-size: 16px;
       top: 65px;
       left: 90%;
    }

    .viewIcon{
        left: 83%;
        top: 77px;
    }

    .notice-home-head{
        font-size: 22px;
    }

    .notice-home-section{
        margin-top: 28px;
        width: 74%;
        margin-left: 57px;
        height: 20pc;
    }

    .vector-home-image{
        width: 64%;
        margin-left: 21%;
        margin-top: 45%;
        animation: myhome_image 3s;
    }
    @keyframes myhome_image{
        0%{
            /* margin-left: -100%; */
            width: 9%;
            margin-left: 106%;
        }
        100%{
            margin-left: 21%;
            width: 64%;
        }
    }

    .notice-home-main-para{
        padding: 8px 8px;
        font-size: 14px;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 440px){
    .views{
        font-size: 15px;
        left: 86%;
     }
 
     .viewIcon{
         left: 78%;
         font-size: 17px;
     }
    .notice-home-section{
        width: 79%;
        margin-left: 38px;
    }

    .vector-home-image{
        width: 64%;
        margin-left: 21%;
        margin-top: 69%;
        animation: myhome_image 3s;
    }
    @keyframes myhome_image{
        0%{
            /* margin-left: -100%; */
            width: 9%;
            margin-left: 106%;
        }
        100%{
            margin-left: 21%;
            width: 64%;
        }
    }
}

@media only screen and (max-width: 380px){
    .views{
        font-size: 15px;
        left: 82%;
     }
 
     .viewIcon{
         left: 72%;
         font-size: 13px;
     }

    .notice-home-head{
        font-size: 19px;
    }

    .notice-home-section{
        margin-top: 28px;
    width: 82%;
    margin-left: 25px;
    height: 18pc;
    }

    .vector-home-image{
        width: 88%;
        margin-left: 8%;
        margin-top: 70%;
        animation: myhome_image 3s;
    }
    @keyframes myhome_image{
        0%{
            /* margin-left: -100%; */
            width: 9%;
            margin-left: 106%;
        }
        100%{
            margin-left: 8%;
            width: 88%;
        }
    }

    .notice-home-main-para{
        padding: 10px 10px;
        font-size: 14px;
        border-radius: 20px;
    }
    .vector-plane-image{
        
    }
}

@media only screen and (max-width: 350px){
    .notice-home-head{
        font-size: 18px;
    }

    .notice-home-section{
        margin-top: 28px;
    width: 83%;
    margin-left: 22px;
    height: 18pc;
    }
    .notice-home-main-para{
        padding: 7px 7px;
        font-size: 13px;
        border-radius: 20px;
    }
    .vector-home-image{
        margin-top: 77%;
    }
}

@media only screen and (max-width: 350px){
    .notice-home-section{
        margin-top: 28px;
    width: 85%;
    margin-left: 13px;
    height: 18pc;
    } 
    .vector-home-image{
        margin-top: 91%;
    }
}





