@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


.notice-section{
    border: 2px solid black;
    width: 30%;
    height: 25pc;
    margin-left: 2%;
    margin-top: 40px;
    overflow: auto;
    position: absolute;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    box-shadow: 2px 3px 6px rgb(0, 0, 0);
}

.notice-head{
    /* border: 2px solid black; */
    display: flex;
    position: sticky;
    top: 0%;
    height: 60px;
    background-color: rgb(255, 191, 107);
    margin-top: 0px;
    color: rgb(59, 59, 59);
    z-index: 1;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 6px black;
    font-family: 'Raleway', sans-serif;
}

.notice-user-para{
    padding: 18px 18px;
    /* height: 2pc; */
    font-size: 17px;
    margin-top: 0%;
    font-weight: bold;
    display: flex;
    /* border: 2px solid; */
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 218, 218);
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    /* animation: mymove 7s infinite; */
}


@keyframes mymove {
    0%{
        top: 0px;
    }
    30%{
        top: 35px;
    }
    40%{
        top: 45px;
    }
    50%{
        top: -130px;
    }
    60%{
        top: -160px;
    }
    70%{
        top: -190px;
    }
    
    75%{
        top: -290px;
    }
    85%{
        top: -200px;
    }
    90%{
        top: -130px;
    }
    100%{
        top: 0px;
    }
}

.option-btn{
    /* border: 2px solid black; */
    width: 25%;
    margin-left: 39%;
    margin-top: 42px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    animation: myselection 5s;
    z-index: 1;
}


.selection-home{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 80%;
    padding: 15px 0px;
    z-index: 1;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    /* margin-left: 20px; */
    margin-top: 20px;
    /* margin-left: 43%; */
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: rgb(236, 255, 126);
    box-shadow: 5px 9px 9px black;
    

}

@keyframes myselection {
    0%{
        margin-left: 100%;
    }
    100%{
        margin-left: 39%;
    }
}

.selection-home:hover{
    background-color: rgb(255, 158, 78);
    color: rgb(224, 224, 224);
    cursor: pointer;

}

/* .vector-image{
    border: 2px solid black;
    width: 35%;
    margin-left: 44%;
    margin-top: -46px;
    height: 28pc;
    z-index: -1;
    transition: all 1s;
    animation: myimage 6s ;
} */

.vector-image{
    /* border: 2px solid black;  */
    width: 35%;
    margin-left: 61%;
    margin-top: -316px;
    /* height: 28pc; */
    z-index: -1;
    transition: all 1s;
    animation: Myimage 5s;
}


@keyframes Myimage{
    0%{
        /* width: 0%; */
        margin-top: 600px;
    }
    100%{
        /* width: 35%; */
        margin-top: -316px;
    }
}

.vector-plane-image{
    width: 5%;
    position: absolute;
    z-index: 1;
    margin-left: 80%;
    margin-top: -220px;
    transition: all 1s;
    animation: myplane-1 10s ;
}

@keyframes myplane-1{
    0%{
        margin-left: 200%;
    }
    100%{
        margin-left: 80%;
    }
}

.vector-plane-image:hover{
    margin-left: 81%;
    margin-top: -218px;
    transition:  all 1s;
    transform: rotate(10deg);
}

.vector-plane-image-1{
    width: 7%;
    position: absolute;
    z-index: 1;
    margin-left: -11%;
    z-index: 1;
    margin-top: -60px;
    transform: rotate(10deg);
    transition: all 2s;
    animation: myplane-2 10s ;
}

@keyframes myplane-2{
    0%{
        /* margin-left: -200%; */
        margin-left: -205%;
        /* width: 0%; */
    }
    100%{
        margin-left: -11%;
        /* width: 7%; */
    }
}

.vector-plane-image-1:hover{
    transform: rotate(-25deg);
    margin-top: -60px;
    margin-left: -9%;
}

.vector-plane-image-2{
    width: 9%;
    position: absolute;
    z-index: 1;
    margin-left: -23%;
    margin-top: -10%;
    transition: all 1s;
    animation: myplane-3 10s ;
}

@keyframes myplane-3{
    0%{
        margin-left: -200%;
    }
    100%{
        margin-left: -23%;
    }
}

.vector-plane-image-2:hover{
    margin-top: -10%;
    margin-left: -20%;
    transform: rotate(-25deg);
}

@media only screen and (max-width: 500px){

    

    .notice-section{
        margin-top: 28px;
        width: 55%;
        margin-left: 5px;
        height: 17pc;
        z-index: 1;
    }

    .notice-user-para{
        padding: 8px 8px;
        font-size: 14px;
        border-radius: 20px;
    }
    .notice-head{
        font-size: 22px;
    }
    .option-btn{
        /* border: 2px solid black; */
        width: 31%;
        margin-left: 65%;
        margin-top: 115px;
        display: grid;
        animation: myselection 3s;
    }
    
@keyframes myselection {
    0%{
        margin-left: 100%;
    }
    100%{
        margin-left: 65%;
    }
}
    .selection-home{
        width: 9pc;
        margin-left: 0%;
        margin-top: 12px;
        font-size: 13px;
        padding: 11px 0px;
    }
    .vector-image{
        z-index: -1;
        width: 61%;
        margin-top: -6%;
        margin-left: 29%;
        animation: myimagees 5s;
    }
    .vector-plane-image{
        display: none;
    }
    .vector-plane-image-1{
        display: none;
    }
    .vector-plane-image-2{
        display: none;
    }
}


@media only screen and (max-width: 440px){
    .notice-section{
        margin-top: 43%;
    width: 83%;
    margin-left: 24px;
    height: 20pc;
    z-index: 1;
    }

    .notice-user-para{
        padding: 8px 8px;
        font-size: 14px;
        border-radius: 20px;
    }
    .notice-head{
        font-size: 22px;
    }
    .option-btn{
        display: contents;
        
    }
    

    .selection-home{
        margin-left: 44px;
        margin-top: 12px;
        font-size: 13px;
        padding: 11px 0px;
    }
    .vector-image{
        z-index: -1;
        width: 61%;
        margin-top: 30%;
        margin-left: 18%;
        animation: myimagees 5s;
    }
}




@media only screen and (max-width: 400px){
    
    
    .selection-home{
        margin-left: 35px;
        width: 35%;
        margin-top: 12px;
        font-size: 13px;
        padding: 11px 0px;
    }
    .notice-user-para{
        font-size: 12px;
    }
    .vector-image{
        margin-top: 28%;
    }
}

@media only screen and (max-width: 350px){
    
    .selection-home{
        width: 33%;
    }
    .notice-section{
        margin-left: 20px;
    }
    .selection-home{
        font-size: 12px;
    }
    .vector-image{
        margin-top: 35%;
    }
}







